@charset "ISO-8859-1";

  body{
    padding: 0;
    margin: 0;
    /* background-color: white; */
    background-image: url("./back.img.jpg");
     
}

 
nav{
    display: flex;
    
    /* ----------------justifycontent for horizontal------------- */
    justify-content: space-between;
    /* ----------------justifycontent for vertical------------- */
    align-items: center;
    /* background-color: yellowgreen; */
    color: white;
     
}
nav>#d1>form>button{
    padding: 15px;
                border-radius: 10px;
                border: none;
                background-color: #0f0e0ea8;
                color: red;
                cursor: pointer;
                width: 200%;
                font-size: 16px;
                margin-left: 2700%;
                margin-top: 50%;
}
 
 
 #fm{
    background-color: #0000009c;
                border-radius: 15px;
                box-shadow: 0 0 20px
                    rgba(0, 0, 0, 0.2);
                padding: 20px;
                width: 	50%;
                margin: 20px auto auto auto;
     
     }           

 
 button{
                padding: 15px;
                border-radius: 5px;
                border: 2px solid white;
                background-color: rgba(0, 0, 0, 0.473);
                color:rgba(255, 0, 0, 0.74);
                cursor: pointer;
                width: 30%;
                font-size: 25px;
                text-align: center;
                padding: 10px;
                margin: 3%;
                box-shadow: 0 0 20px
                    rgba(255, 255, 255, 0.322);
 }
 h1{
    color: white;
    font-weight: bold;
    padding-left: 150px;
 }
 #b1,#b2,#b3{
        display: flex;
     }

 
       